<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
            name="description"
            content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template"/>
    <meta name="author" content="PPType"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>主页</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"

            type="text/css"
    />

    <style type="text/css">
        body {
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: grayscale;
            background: url(../../static/img/adminBG.webp);
        }

        #content h1 {
            font-size: 36px;
        }

        .ui.borderless.menu {
            box-shadow: none;
            flex-wrap: wrap;
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>

<body id="root">
<!--顶部导航栏-->
<div th:insert="admin/commens::top"></div>
<!--中间内容-->
<br>
<br>
<br>
<br>

<div class="m-padded-tb-massivex">
    <div class="ui container">
        <div class="ui success large  message" id="content">
            <p align="center">念念不忘，必有回响</p>
        </div>
    </div>
</div>

<!--底部栏-->
<div th:insert="admin/commens::button"></div>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js"></script>

<!-- 看板娘 -->
<div th:insert="admin/commens::kanban"></div>
</body>
</html>
