<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--顶部导航栏导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">关于我</h2>
            <a href="#" class="m-item item m-mobile-hidden"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hidden">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--个人资料描述-->
<div class="ui container m-opacity box-shadow-max">
    <div class="ui segment m-margin-" align="center">
        <div class="m-margin-top-large" align="center">
            <img class="ui circular image" align="center" src="../../static/img/me.gif" th:src="@{/img/me.gif}"
                 style="width: 170px;height: 170px;">
        </div>
        <br>
        <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">四人小组</div>
        <br>
        <div class="m-margin-top" align="center">
            <a href="#" class="ui wechat circular icon button" id="xys"><i class="weixin icon"></i></a>
            <a href="#" class="ui wechat circular icon button" id="zhk"><i class="weixin icon"></i></a>
            <a href="#" class="ui wechat circular icon button" id="yrh"><i class="weixin icon"></i></a>
            <a href="#" class="ui wechat circular icon button" id="zzb"><i class="weixin icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition" id="xys-qr">
            <img src="../../static/img/xys.jpg" th:src="@{/img/xys.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">谢粤生</div>
        </div>
        <div class="ui wechat-qr flowing popup transition" id="zhk-qr">
            <img src="../../static/img/zhk.jpg" th:src="@{/img/zhk.jpg}" alt=""
                 class="ui rounded image" style="width: 110px">
            <div align="center">曾环康</div>
        </div>
        <div class="ui wechat-qr flowing popup transition hidden" id="yrh-qr">
            <img src="../../static/img/yrh.jpg" th:src="@{/img/yrh.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">杨瑞晖</div>
        </div>
        <div class="ui wechat-qr flowing popup transition hidden" id="zzb-qr">
            <img src="../../static/img/zzb.jpg" th:src="@{/img/zzb.jpg}" alt="" class="ui rounded image"
                 style="width: 110px">
            <div align="center">郑泽波</div>
        </div>
        <hr class="m-margin-top-small" style="width: 30%">
        <br>
        <div>
            <p>WEB框架技术 软工7班</p>
            <p>四人小组</p>
            <p>个人博客项目</p>
            <br>
            <p>00后</p>
            <p>爱编程、爱运动、爱折腾</p>
            <p>生命在于折腾</p>
            <p>既然来到了人间</p>
            <p>便去经历，去拼搏，去感受，去爱</p>
            <p>世界很大</p>
            <p>有些鸟儿注定是不会被关在笼子里的</p>
            <p>因为它们的每一片羽毛都闪耀着自由的光辉</p>
            <p>生命不息，折腾不止</p>
            <p>总有些人，有些事，会让你感觉到生命的温暖和满足，让你感慨生命的“不虚此行”</p>
            <p>届时，我会说</p>
            <p>我来过，我不后悔！</p>
        </div>
        <hr class="m-margin-top-large">
        <br>
    </div>
</div>

<br>
<br>
<!--底部栏-->
<footer th:replace="_fragments :: footer" class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui container center aligned">
        <div class="ui grid inverted divided stackable">
            <div class="three wide column">
                <div class="item">
                    <img class="ui rounded image" src="../../static/img/xys.jpg" style="width:100px">
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事</a>
                    <a href="" class="item">关于刻意练习的清单</a>
                    <a href="" class="item">失败要趁早</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">QQ:931031613</a>
                    <a href="" class="item">E-mail:931031613@163.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">blog</h4>
                <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">这是由四人小组编写的小型个人博客系统</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">by zhk,xys,yrh,zzb</p>
    </div>

</footer>

<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // 显示个人公众号二维码
    $('#xys').popup({
        popup: $('#xys-qr'),
        position: 'bottom center'
    });

    $('#zhk').popup({
        popup: $('#zhk-qr'),
        position: 'bottom center'
    });

    $('#yrh').popup({
        popup: $('#yrh-qr'),
        position: 'bottom center'
    });
    $('#zzb').popup({
        popup: $('#zzb-qr'),
        position: 'bottom center'
    });

</script>
</body>
</html>
